/* NAVIGATION STUFF GOES HERE  */
nav {
    ul {
        display: flex;
        justify-content: space-around;
        column-gap: $gutter;
    } //end ul
    ul li a {
        margin: 10px 0;
        font-size: 2rem;
    }
    ul li a:hover {
        text-decoration: underline;
        text-decoration-style: wavy;
        text-underline-offset: 3px;
    } // end hover
} // end nav

header{
    span{
         font-size: 3rem;
    }
}