/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    width: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    background-color: rgba($primaryColor, 0.5);
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper { background-color: $secondaryColor;}
header {
    display: flex;
    grid-template-columns: 50px auto;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;

    span {
        font-size: 2rem;
        font-weight: $normalWeight;
        color: $greyColor;
     
       // padding:.5rem 5rem;
    }

    a {
  text-decoration: none;
  color: $greyColor;
  font-weight: bold;
  padding-left: 15px;
}

    a:hover {
    color: #999;
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
#navWrapper {
    background-color: $primaryColor;
}
nav {

   ul {
        padding: 0;
        margin: 0 $gutter;
   }
    ul li {
        list-style-type: none;
    }
    ul li a {
        color: $greyColor;
        text-align: center;
        text-decoration: none;
        display: block;
        padding: .8rem $gutter;
        font-size: 1.5rem;
    } //end ul li a
    ul li.active a {
        background-color: rgba(255,255,255,0.8);
        color: $primaryColor;
        border-radius: 10px;
    }
}












/* --------------------------- MAIN --------------------------- */
//main
main {width: 100%;}
h1 {font-size: 3rem;}
.hero img {
    width: 100%;
    height: auto;
}

video {
    width: 90%;
    margin-left: 5%;
}

details {
    margin: .5rem $gutter;
    font-size: 1.5rem;
summary {
    font-size: 2rem;
}
}




/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $greyColor;
    text-align: center;
    line-height: $leading;
    a {color: $greyColor;}
}// end footer