$primaryColor: #402516; 
$secondaryColor: #868C54;
$accentColor: #81f1a3;
$greyColor: #F2F2F2;

$defaultFont:"Roboto", sans-serif;
$lightWeight: 400;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;