$primaryColor: #417f5a; 
$secondaryColor: #93278F;
$accentColor: #3990c3;
$greyColor: #ccc;

$defaultFont:"Story Script", sans-serif;
$lightWeight: 400;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;